<div class="navbar-toggleable-xs" id="navbar-header">
    <a class="navbar-brand">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/PricewaterhouseCoopers_Logo.svg/220px-PricewaterhouseCoopers_Logo.svg.png" />
        <p>Oracle Retail Docs</p>
    </a>
    <ul class="nav navbar-nav">
    <!--<li class="nav-item" ng-class="{'nav-highlighted': loc == 'main'}">
        <a class="nav-link" ui-sref="home">Home <span class="sr-only">(current)</span></a>
    </li>-->
    <li class="nav-item" ng-class="{'nav-highlighted': loc == 'docs'}">
        <a class="nav-link" ui-sref="docs">Documentation</a>
    </li>
    <li class="nav-item" ng-class="{'nav-highlighted': loc == 'upload'}">
        <a class="nav-link" ui-sref="upload">Upload</a>
    </li>
    </ul>
</div>